*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #272020;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row;
    width: 100px;
    height: 50px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background: #422c2c;
    border-radius: 10px;
    margin: 50px 50px;


}
.image{
    height: 400px;
    border-radius: 10px;
    margin-top: 100px;
    color: rgb(218, 85, 85);
    object-fit: cover;

}